USE [master]
GO
/****** Object:  Database [QLKS]    Script Date: 7/3/2023 11:04:50 AM ******/
CREATE DATABASE [QLKS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLKS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLKS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKS]
GO
/****** Object:  StoredProcedure [dbo].[DANHSACHPHONGDADAT]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DANHSACHPHONGDADAT] 
AS
BEGIN
	SELECT *
	FROM Phong P, LoaiPhong LP
	WHERE P.IDLoai = LP.IDLoai AND P.TrangThai LIKE N'%Đã đặt%'
END

GO
/****** Object:  StoredProcedure [dbo].[DANHSACHPHONGTRONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DANHSACHPHONGTRONG] 
AS
BEGIN
	SELECT *
	FROM Phong P, LoaiPhong LP
	WHERE P.IDLoai = LP.IDLoai AND P.TrangThai LIKE N'%Trống%'
END

GO
/****** Object:  StoredProcedure [dbo].[GIA_DICHVU]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GIA_DICHVU]
	@IDDICHVU VARCHAR(50)
AS
BEGIN
	SELECT Gia
	FROM DichVu
	WHERE IDDichVu = @IDDICHVU
END

GO
/****** Object:  StoredProcedure [dbo].[GIA_DICHVUTOUR]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GIA_DICHVUTOUR]
	@TOUR VARCHAR(50)
AS
BEGIN
	SELECT Gia
	FROM TourDuLich
	WHERE IDTour = @TOUR
END

GO
/****** Object:  StoredProcedure [dbo].[GIA_PHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GIA_PHONG]
	@IDPHONG VARCHAR(50)
AS
BEGIN
	SELECT L.GIA
	FROM Phong P, LoaiPhong L
	WHERE P.IDPhong = @IDPHONG AND P.IDLoai = L.IDLoai
END

GO
/****** Object:  StoredProcedure [dbo].[HIENTHIPHONGTHEOBOLOC]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HIENTHIPHONGTHEOBOLOC] 
	@TRANGTHAI NVARCHAR(50),  
	@LOAI NVARCHAR(50),
	@TINHTRANG NVARCHAR(50)
AS
BEGIN
	IF @TRANGTHAI LIKE N'%Tất cả%' AND @LOAI LIKE N'%Tất cả%' AND @TINHTRANG LIKE N'%Tất cả%'
	BEGIN
		SELECT *
		FROM Phong P, LoaiPhong LP
		WHERE  P.IDLoai = LP.IDLoai 
	END
	ELSE IF @TRANGTHAI LIKE N'%Tất cả%'
	BEGIN
		IF @LOAI LIKE N'%Tất cả%'
		BEGIN
			SELECT *
			FROM Phong P, LoaiPhong LP
			WHERE P.TinhTrang = @TINHTRANG AND LP.IDLoai = P.IDLoai
		END
		ELSE IF @TINHTRANG LIKE N'%Tất cả%'
		BEGIN
			SELECT *
			FROM Phong P, LoaiPhong LP
			WHERE LP.Ten = @LOAI AND LP.IDLoai = P.IDLoai		
		END
		ELSE
		BEGIN
			SELECT *
			FROM Phong P, LoaiPhong LP
			WHERE P.TinhTrang = @TINHTRANG AND LP.Ten = @LOAI AND LP.IDLoai = P.IDLoai
		END
	END
	ELSE IF @LOAI LIKE N'%Tất cả%'
	BEGIN
		IF @TINHTRANG LIKE N'%Tất cả%'
		BEGIN
			SELECT *
			FROM Phong P, LoaiPhong LP
			WHERE P.TrangThai = @TRANGTHAI AND P.IDLoai = LP.IDLoai
		END
		SELECT *
		FROM Phong P, LoaiPhong LP
		WHERE P.TinhTrang = @TINHTRANG AND P.TrangThai = @TRANGTHAI AND P.IDLoai = LP.IDLoai
	END
	ELSE IF @TINHTRANG LIKE N'%Tất cả%'
	BEGIN
		SELECT *
		FROM Phong P, LoaiPhong LP
		WHERE P.TrangThai = @TRANGTHAI AND LP.Ten = @LOAI AND LP.IDLoai = P.IDLoai
	END
	ELSE
	BEGIN
		SELECT *
		FROM Phong P, LoaiPhong LP
		WHERE P.TinhTrang = @TINHTRANG AND P.TrangThai = @TRANGTHAI AND LP.Ten = @LOAI AND LP.IDLoai = P.IDLoai
	END
END

GO
/****** Object:  StoredProcedure [dbo].[KIEMTRAACCOUNT]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[KIEMTRAACCOUNT]
	@USERNAME VARCHAR(50),  
	@PASSWORD VARCHAR(50)
AS
BEGIN
	IF @PASSWORD IN (SELECT pw FROM Account WHERE Username = @USERNAME)
	RETURN 1
	ELSE
	RETURN 0
END


GO
/****** Object:  StoredProcedure [dbo].[login]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[login] 
	@user NVARCHAR(50),
	@pass NVARCHAR(50)

AS
BEGIN
	SELECT* FROM [dbo].Account WHERE Username=@user and pw=@pass
END


GO
/****** Object:  StoredProcedure [dbo].[QUANLYHOADON]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[QUANLYHOADON]
AS
BEGIN
	SELECT DISTINCT HD.IDHoaDon, HD.IDKhachHang, KH.TenKH, TTDP.NgayCheckIn, TTDP.NgayCheckOut, HD.TongTien
	FROM HoaDon HD JOIN KhachHang KH ON HD.IDKhachHang = KH.IDKhachHang JOIN ThongTinDatPhong TTDP ON HD.IDKhachHang = TTDP.IDKhachHang
END

GO
/****** Object:  StoredProcedure [dbo].[SUA_THONGTINDATPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[SUA_THONGTINDATPHONG]
	@IDKH VARCHAR(50),
	@IDP VARCHAR(50),
	@NGAYDAT DATE,
	@NGAYCHECKIN DATE,
	@NGAYCHECKOUT DATE,
	@SOLUONGNGUOI INT
AS
BEGIN
	-- KIỂM TRA CÁC TRƯỜNG THÔNG TIN CÓ BỊ TRỐNG KHÔNG
	IF (@IDP IS NULL OR @NGAYCHECKIN IS NULL OR @NGAYCHECKOUT IS NULL OR @IDKH IS NULL)
	BEGIN
		PRINT(N'THIẾU THÔNG TIN, VUI LÒNG ĐIỀN ĐẦY ĐỦ')
		RETURN 0
	END

	-- CẬP NHẬT THÔNG TIN ĐẶT PHÒNG
	UPDATE ThongTinDatPhong
	SET IDPhong = @IDP, NgayDat = @NGAYDAT, NgayCheckIn = @NGAYCHECKIN, NgayCheckOut = @NGAYCHECKOUT, SoLuongNguoi = @SOLUONGNGUOI
	WHERE IDKhachHang = @IDKH

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[SUA_THONGTINKHACHHANG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SỬA THÔNG TIN KHÁCH HÀNG

CREATE /*or ALTER*/ PROC [dbo].[SUA_THONGTINKHACHHANG]
	@IDKH VARCHAR(50),
	@TENKH NVARCHAR(50),
	@CCCD VARCHAR(50),
	@DIACHI NVARCHAR(50),
	@SDT VARCHAR(50),
	@EMAIL VARCHAR(50)
AS
BEGIN
	UPDATE KhachHang
	SET TenKH = @TENKH, CCCD = @CCCD, DiaChi = @DIACHI, SDT = @SDT, Email = @EMAIL
	WHERE IDKhachHang = @IDKH

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[SUAACCOUNT]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SUAACCOUNT]
	@IDTK VARCHAR(50), 
	@USERNAME VARCHAR(50),  
	@PASSWORD VARCHAR(50),
	@QUYENHAN INT,
	@IDNHANVIEN VARCHAR(50)
AS
BEGIN
	UPDATE Account
	SET USERNAME = @USERNAME,
		pw = @PASSWORD,
		quyenhan = @QUYENHAN,
		IDNhanVien = @IDNHANVIEN
	WHERE IDTK = @IDTK
END

GO
/****** Object:  StoredProcedure [dbo].[SUADICHVU]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SUADICHVU]
	@IDDICHVU VARCHAR(50),
	@TENDV NVARCHAR(50),
	@GIA INT,
	@SL INT,
	@KM FLOAT,
	@TINHTRANG NVARCHAR(50)
AS
BEGIN

		UPDATE DichVu
		SET TenDV = @TENDV,
			Gia=@GIA,
			SL=@SL,
			KM=@KM,
			TinhTrang=@TINHTRANG
		WHERE IDDichVu = @IDDICHVU


END

GO
/****** Object:  StoredProcedure [dbo].[SUALOAIPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SUALOAIPHONG]
	@IDLOAI VARCHAR(50),
	@TEN NVARCHAR(50),
	@GIA INT,
	@SONGUOI INT
AS
BEGIN
	UPDATE LOAIPHONG
	SET TEN = @TEN,
		GIA = @GIA,
		SONGUOI = @SONGUOI
	WHERE IDLOAI = @IDLOAI
END
GO
/****** Object:  StoredProcedure [dbo].[SUANHANVIEN]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SUANHANVIEN]
	@IDNHANVIEN VARCHAR(50),
	@TENNV NVARCHAR(50),
	@CHUCVU NVARCHAR(50),
	@NGSINH DATE,
	@SDT VARCHAR(50),
	@EMAIL VARCHAR(50),
	@GIOITINH NVARCHAR(50),
	@CCCD VARCHAR(50),
	@DIACHI NVARCHAR(50)
AS
BEGIN
	UPDATE NHANVIEN
	SET TENNV = @TENNV,
		CHUCVU = @CHUCVU,
		NGSINH = @NGSINH,
		SDT = @SDT,
		EMAIL= @EMAIL,
		GIOITINH = @GIOITINH,
		CCCD = @CCCD,
		DIACHI = @DIACHI
	WHERE IDNHANVIEN = @IDNHANVIEN
END

GO
/****** Object:  StoredProcedure [dbo].[SUAPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SUAPHONG]
	@IDPHONG VARCHAR(50), 
	@TRANGTHAI NVARCHAR(50),  
	@IDLOAI VARCHAR(50),
	@TINHTRANG NVARCHAR(50)
AS
BEGIN
	UPDATE Phong
	SET TrangThai = @TRANGTHAI,
		TinhTrang = @TINHTRANG,
		IDLoai = @IDLOAI
	WHERE IDPhong = @IDPHONG
END

GO
/****** Object:  StoredProcedure [dbo].[SUAPHUONGTIEN]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SUAPHUONGTIEN]
	@IDNHAXE VARCHAR(50),
	@TENNHAXE NVARCHAR(50),
	@SDT VARCHAR(50),
	@GIODIEN INT,
	@GIA INT
AS
BEGIN

		UPDATE PhuongTien
		SET TenNhaXe = @TENNHAXE,
			SDT=@SDT,
			GioDen=@GIODIEN,
			Gia=@GIA
		WHERE IDNhaXe = @IDNHAXE

END

GO
/****** Object:  StoredProcedure [dbo].[SUATOURDULICH]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SUATOURDULICH]
	@IDTOUR VARCHAR(50), 
	@NCC NVARCHAR(50),  
	@NOIDUNG NVARCHAR(50),
	@GIA INT
AS
BEGIN
	UPDATE TourDuLich
	SET NCC = @NCC,
		NoiDung = @NOIDUNG,
		GIA = @GIA
	WHERE IDTour = @IDTOUR
END

GO
/****** Object:  StoredProcedure [dbo].[TAO_CTHDDATPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TAO_CTHDDATPHONG]
	@IDHOADON VARCHAR(50),
	@IDPHONG VARCHAR(50),
	@TIENCOC INT,
	@TIENSAUCHECKOUT INT
AS
BEGIN
	INSERT INTO CTHDDatPhong VALUES (@IDHOADON, @IDPHONG, @TIENCOC, @TIENSAUCHECKOUT)
END 

GO
/****** Object:  StoredProcedure [dbo].[TAO_CTHDKEMTHEO]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TAO_CTHDKEMTHEO]
	@STT INT,
	@IDHOADON VARCHAR(50),
	@IDTOUR VARCHAR(50),
	@IDDICHVU VARCHAR(50)
AS
BEGIN
	INSERT INTO CTHDKemTheo VALUES (@STT, @IDHOADON, @IDTOUR, @IDDICHVU)
END

GO
/****** Object:  StoredProcedure [dbo].[TAO_HOADON]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[TAO_HOADON]
	@IDHOADON VARCHAR(50),
	@NGAYLAP DATE,
	@PTTT NVARCHAR(50),
	@TONGTIEN INT,
	@IDNHANVIEN VARCHAR(50),
	@IDKHACHHANG VARCHAR(50)
AS
BEGIN
	INSERT INTO HoaDon VALUES (@IDHOADON, @NGAYLAP, @PTTT, @TONGTIEN, @IDNHANVIEN, @IDKHACHHANG)
END

GO
/****** Object:  StoredProcedure [dbo].[TENDV]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TENDV]

AS
BEGIN
	SELECT TenDV FROM DichVu WHERE IDDichVu LIKE 'DV%'
END

GO
/****** Object:  StoredProcedure [dbo].[TENSP]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TENSP]

AS
BEGIN
	SELECT TenDV FROM DichVu WHERE IDDichVu LIKE 'SP%'
END

GO
/****** Object:  StoredProcedure [dbo].[TENTOUR]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TENTOUR]

AS
BEGIN
	SELECT IDTour FROM TourDuLich 
END
GO
/****** Object:  StoredProcedure [dbo].[TIM_HOADONKHACHHANG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIM_HOADONKHACHHANG]
	@TENKH NVARCHAR(50)
AS
BEGIN
	SELECT DISTINCT HD.IDHoaDon, HD.IDKhachHang, KH.TenKH, TTDP.NgayCheckIn, TTDP.NgayCheckOut, HD.TongTien
	FROM HoaDon HD JOIN KhachHang KH ON HD.IDKhachHang = KH.IDKhachHang JOIN ThongTinDatPhong TTDP ON HD.IDKhachHang = TTDP.IDKhachHang
	WHERE KH.TenKH LIKE '%'+ @TENKH + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[TIM_THONGTINDATPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SEARCH THÔNG TIN ĐẶT PHÒNG

CREATE /*or ALTER*/ PROC [dbo].[TIM_THONGTINDATPHONG]
	@CCCD VARCHAR(50)
AS
BEGIN
	SELECT DISTINCT K.TenKH, T.NgayDat
	FROM ThongTinDatPhong T RIGHT JOIN KhachHang K ON T.IDKhachHang = K.IDKhachHang
	WHERE K.CCCD LIKE (@CCCD + '%')

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[TIM_THONGTINDATPHONG_1]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[TIM_THONGTINDATPHONG_1]
	@IDPhong VARCHAR(50)
AS
BEGIN
	SELECT TOP 1 *
	FROM ThongTinDatPhong T
	WHERE t.IDPhong = @IDPhong
	ORDER BY T.IDKhachHang DESC
END
GO
/****** Object:  StoredProcedure [dbo].[TIM_THONGTINKHACHHANG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[TIM_THONGTINKHACHHANG]
	@CCCD VARCHAR(50)
AS
BEGIN
	SELECT K.IDKhachHang, K.TenKH, K.CCCD, K.DiaChi, K.SDT, K.Email
	FROM KhachHang K
	WHERE K.CCCD LIKE ('%' + @CCCD + '%')

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[TIM_THONGTINKHACHHANG_1]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[TIM_THONGTINKHACHHANG_1]
	@IDPhong VARCHAR(50)
AS
BEGIN
	SELECT TOP 1 *
	FROM KhachHang K join ThongTinDatPhong t on k.IDKhachHang = t.IDKhachHang
	WHERE t.IDPhong = @IDPhong
	ORDER BY T.IDKhachHang DESC
END
GO
/****** Object:  StoredProcedure [dbo].[TIMACCOUNT]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMACCOUNT] @KEYWORD VARCHAR(50)
AS
BEGIN
	SELECT *
	FROM Account
	WHERE IDNhanVien LIKE '%' + @KEYWORD + '%'
END


GO
/****** Object:  StoredProcedure [dbo].[TIMDICHVU]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMDICHVU] @KEYWORD NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM DichVu
	WHERE TenDV LIKE '%' + @KEYWORD + '%'
END


GO
/****** Object:  StoredProcedure [dbo].[TIMDICHVU_ID]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMDICHVU_ID] @KEYWORD VARCHAR(50)
AS
BEGIN
	SELECT *
	FROM DichVu
	WHERE IDDichVu=@KEYWORD
end 

SELECT *
FROM DICHVU DV

SELECT *
FROM PhuongTien
GO
/****** Object:  StoredProcedure [dbo].[TIMLOAIPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMLOAIPHONG] @KEYWORD NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM LOAIPHONG
	WHERE TEN LIKE '%' + @KEYWORD + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[TIMNHANVIEN]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMNHANVIEN] @KEYWORD NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM NHANVIEN
	WHERE TENNV LIKE '%' + @KEYWORD + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[TIMPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMPHONG] @KEYWORD NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM PHONG
	WHERE IDPHONG LIKE '%' + @KEYWORD + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[TIMPHUONGTIEN]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMPHUONGTIEN] @KEYWORD NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM PhuongTien
	WHERE GioDen =@KEYWORD 
END


GO
/****** Object:  StoredProcedure [dbo].[TIMPHUONGTIEN_ID]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMPHUONGTIEN_ID] @KEYWORD VARCHAR(50)
AS
BEGIN
	SELECT *
	FROM PhuongTien pt
	WHERE IDNhaxe=@KEYWORD
end 


SET ANSI_NULLS ON

GO
/****** Object:  StoredProcedure [dbo].[TIMTOURDULICH]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMTOURDULICH] @KEYWORD NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM TourDuLich
	WHERE NoiDung LIKE '%' + @KEYWORD + '%'
END


GO
/****** Object:  StoredProcedure [dbo].[TIMTOURDULICH_ID]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMTOURDULICH_ID] @KEYWORD VARCHAR(50)
AS
BEGIN
	SELECT *
	FROM TourDuLich
	WHERE IDTour=@KEYWORD
end 


SET ANSI_NULLS ON

GO
/****** Object:  StoredProcedure [dbo].[TOPDICHVU]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TOPDICHVU]
AS
BEGIN
	SELECT TOP 1 IDDichVu FROM DichVu ORDER BY IDDichVu DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[TOPPHUONGTIEN]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TOPPHUONGTIEN]
AS
BEGIN
	SELECT TOP 1 IDNhaXe FROM PhuongTien ORDER BY IDNhaXe DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[TOPTOURDULICH]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TOPTOURDULICH]
AS
BEGIN
	SELECT TOP 1 IDTour FROM TourDuLich ORDER BY IDTour DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[THEM_DANGKYDVSP]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEM_DANGKYDVSP]
	@IDKH VARCHAR(50),
	@TENDV VARCHAR(50),
	@SL INT,
	@LICHSD VARCHAR(50),
	@GIODK VARCHAR(50)
AS
BEGIN
	-- TÍNH THÀNH TIỀN SỬ DỤNG DỊCH VỤ
	DECLARE @TONGTIEN AS INT -- TỔNG TIỀN = ĐƠN GIÁ SAU KHI ÁP DỤNG KHUYẾN MÃI * SỐ LƯỢNG
	DECLARE @DONGIA AS INT -- ĐƠN GIÁ CỦA DỊCH VỤ
	DECLARE @KM AS FLOAT -- KHUYẾN MÃI DỊCH VỤ ÁP DỤNG
	DECLARE @ID AS VARCHAR(50)

	SET @ID = (SELECT DV.IDDichVu FROM DichVu DV WHERE DV.TenDV = @TENDV)
	SET @DONGIA = (SELECT DV.Gia FROM DichVu DV WHERE DV.IDDichVu = @ID) 
	SET @KM = (SELECT DV.KM FROM DichVu DV WHERE DV.IDDichVu = @ID)
	IF @KM !=0
	BEGIN
		SET @DONGIA = @DONGIA * (100 - @KM) / 100
	END

	SET @TONGTIEN = @DONGIA * @SL

	-- THÊM THÔNG TIN ĐĂNG KÝ DỊCH VỤ
	INSERT INTO DangKyDichVu(IDKhachHang, IDDichVu, GioDK, SL, LichSD, TongTien) VALUES (@IDKH, @ID, @GIODK, @SL, @LICHSD, @TONGTIEN)

END

GO
/****** Object:  StoredProcedure [dbo].[THEM_DANGKYDVTOUR]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[THEM_DANGKYDVTOUR]
	@IDKH VARCHAR(50),
	@IDTOUR VARCHAR(50),
	@GIOXP VARCHAR(50),
	@SL INT
AS
BEGIN
	-- TÍNH THÀNH TIỀN CHO DỊCH VỤ TOUR KHÁCH HÀNG ĐĂNG KÝ
	DECLARE @DONGIA AS INT = (SELECT T.Gia FROM TourDuLich T WHERE T.IDTour = @IDTOUR)
	DECLARE @THANHTIEN AS INT = @DONGIA * @SL

	-- THÊM THÔNG TIN ĐĂNG KÝ DỊCH VỤ TOUR
	INSERT INTO DangKyTour (IDKhachHang, IDTour, GioXuatPhat, SoNguoiDi, TongTien) VALUES (@IDKH, @IDTOUR, @GIOXP, @SL, @THANHTIEN)

END 

GO
/****** Object:  StoredProcedure [dbo].[THEM_DANGKYTOUR]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEM_DANGKYTOUR]
	@IDKH VARCHAR(50),
	@ID VARCHAR(50),
	@GiODK VARCHAR(50),
	@GIOXUATPHAT VARCHAR(50),
	@SONGUOIDI int

AS
BEGIN
	DECLARE @DONGIA AS INT = (SELECT T.Gia FROM TourDuLich T WHERE T.IDTour = @ID)
	DECLARE @THANHTIEN AS INT = @DONGIA * @SoNguoiDi

	-- THÊM THÔNG TIN ĐĂNG KÝ DỊCH VỤ
	INSERT INTO DangKyTour(IDKhachHang, IDTour, GIODK, GioXuatPhat, SoNguoiDi, TongTien) VALUES (@IDKH, @ID, @GIODK, @GIOXUATPHAT, @SONGUOIDI, @THANHTIEN)

END

GO
/****** Object:  StoredProcedure [dbo].[THEM_THONGTINDATPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[THEM_THONGTINDATPHONG]
	@IDKH VARCHAR(50),
	@IDP VARCHAR(50),
	@NGAYDAT DATE,
	@NGAYCHECKIN DATE,
	@NGAYCHECKOUT DATE,
	@SOLUONGNGUOI INT
AS
BEGIN
	-- KIỂM TRA CÁC TRƯỜNG THÔNG TIN CÓ BỊ TRỐNG KHÔNG
	IF (@IDP IS NULL OR @NGAYCHECKIN IS NULL OR @NGAYCHECKOUT IS NULL OR @IDKH IS NULL)
	BEGIN
		PRINT(N'THIẾU THÔNG TIN, VUI LÒNG ĐIỀN ĐẦY ĐỦ')
		RETURN 0
	END

	--KIỂM TRA ĐÃ ĐẶT PHÒNG CHƯA
	IF (EXISTS (SELECT 1 FROM ThongTinDatPhong T WHERE T.IDKhachHang = @IDKH AND T.IDPhong = @IDP))
	BEGIN
		PRINT(N'KHÁCH HÀNG ĐÃ ĐẶT PHÒNG NÀY RỒI')
		RETURN 0
	END

	-- LẤY NGÀY ĐẶT PHÒNG
	SET @NGAYDAT = GETDATE()

	-- THÊM THÔNG TIN ĐẶT PHÒNG
	INSERT INTO ThongTinDatPhong VALUES (@IDKH, @IDP, @NGAYDAT, @NGAYCHECKIN, @NGAYCHECKOUT, @SOLUONGNGUOI)

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[THEM_THONGTINKHACHHANG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* BẢNG KhachHang */

-- THÊM THÔNG TIN KHÁCH HÀNG

CREATE /*or ALTER*/ PROC [dbo].[THEM_THONGTINKHACHHANG]
	@IDKH VARCHAR(50),
	@TENKH NVARCHAR(50),
	@CCCD VARCHAR(50),
	@SDT VARCHAR(50),
	@DIACHI NVARCHAR(50),
	@EMAIL VARCHAR(50),
	@FAX VARCHAR(50)
AS
BEGIN
	-- KIỂM TRA TRƯỜNG @IDKH, @TENKH, @CCCD, @SDT CÓ NULL KHÔNG
	IF (@IDKH IS NULL OR @TENKH IS NULL OR @CCCD IS NULL OR @SDT IS NULL)
	BEGIN
		PRINT(N'TÊN KHÁCH HÀNG HOẶC CCCD HOẶC SĐT BỊ TRỐNG, VUI LÒNG ĐIỀN THÔNG TIN')
		RETURN 0
	END

	-- THÊM THÔNG TIN KHÁCH HÀNG
	INSERT INTO KhachHang VALUES (@IDKH, @TENKH, @CCCD, @SDT, @EMAIL, @DIACHI, @FAX)

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[THEMACCOUNT]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMACCOUNT] 
	@IDTK VARCHAR(50), 
	@USERNAME VARCHAR(50),  
	@PASSWORD VARCHAR(50),
	@QUYENHAN INT,
	@IDNHANVIEN VARCHAR(50)
AS
BEGIN
	INSERT INTO Account VALUES (@IDTK, @USERNAME, @PASSWORD, @QUYENHAN, @IDNHANVIEN)
END


GO
/****** Object:  StoredProcedure [dbo].[THEMDICHVU]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMDICHVU] 
	@IDDICHVU VARCHAR(50),
	@TENDV NVARCHAR(50),
	@GIA INT,
	@SL INT,
	@KM FLOAT,
	@TINHTRANG NVARCHAR(50)
AS
BEGIN

	INSERT INTO DichVu VALUES (@IDDICHVU, @TENDV, @GIA, @SL, @KM, @TINHTRANG)
END


GO
/****** Object:  StoredProcedure [dbo].[THEMDOAN]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMDOAN] 
	@IDDOAN VARCHAR(50), 
	@TENDOAN NVARCHAR(50), 
	@NGUOIDAIDIEN NVARCHAR(50), 
	@SONGUOI INT,
	@IDKhachHang NVARCHAR(50)
AS
BEGIN
	INSERT INTO Doan VALUES (@IDDOAN, @TENDOAN, @NGUOIDAIDIEN, @SONGUOI, @IDKhachHang)
END


GO
/****** Object:  StoredProcedure [dbo].[THEMDV_CTHDKEMTHEO]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[THEMDV_CTHDKEMTHEO]
	@STT INT,
	@IDHOADON VARCHAR(50),
	--@IDTOUR VARCHAR(50),
	@IDDICHVU VARCHAR(50)
AS
BEGIN
	INSERT INTO CTHDKemTheo(STT, IDHoaDon, IDDichVu) VALUES (@STT, @IDHOADON, @IDDICHVU)
END

GO
/****** Object:  StoredProcedure [dbo].[THEMLOAIPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMLOAIPHONG] 
	@IDLOAI VARCHAR(50), 
	@TEN NVARCHAR(50), 
	@GIA INT, 
	@SONGUOI INT
AS
BEGIN
IF @IDLOAI IN (SELECT IDLOAI FROM LOAIPHONG)
	PRINT(N'ID PHÒNG ĐÃ TỒN TẠI') 
ELSE
	INSERT INTO LOAIPHONG VALUES (@IDLOAI, @TEN, @GIA, @SONGUOI)
END

GO
/****** Object:  StoredProcedure [dbo].[THEMNHANVIEN]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMNHANVIEN]
	@IDNHANVIEN VARCHAR(50),
	@TENNV NVARCHAR(50),
	@CHUCVU NVARCHAR(50),
	@NGSINH DATE,
	@SDT VARCHAR(50),
	@EMAIL VARCHAR(50),
	@GIOITINH NVARCHAR(50),
	@CCCD VARCHAR(50),
	@DIACHI NVARCHAR(50)
AS
BEGIN
	INSERT INTO NHANVIEN 
	VALUES(@IDNHANVIEN, @TENNV, @CHUCVU, @NGSINH, @SDT, @EMAIL, @GIOITINH, @CCCD, @DIACHI)
END

GO
/****** Object:  StoredProcedure [dbo].[THEMPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMPHONG] 
	@IDPHONG VARCHAR(50), 
	@TRANGTHAI NVARCHAR(50),  
	@IDLOAI VARCHAR(50),
	@TINHTRANG NVARCHAR(50)
AS
BEGIN
	INSERT INTO Phong VALUES (@IDPHONG, @TRANGTHAI, @IDLOAI, @TINHTRANG)
END


GO
/****** Object:  StoredProcedure [dbo].[THEMPHUONGTIEN]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMPHUONGTIEN] 
	@IDNHAXE VARCHAR(50),
	@TENNHAXE NVARCHAR(50),
	@SDT VARCHAR(50),
	@GIODIEN INT,
	@GIA INT
AS
BEGIN
	INSERT INTO PhuongTien VALUES (@IDNHAXE, @TENNHAXE, @SDT, @GIODIEN, @GIA)
END

----------------------------------------------------------------------------

SET ANSI_NULLS ON

GO
/****** Object:  StoredProcedure [dbo].[THEMTOUR_CTHDKEMTHEO]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[THEMTOUR_CTHDKEMTHEO]
	@STT INT,
	@IDHOADON VARCHAR(50),
	@IDTOUR VARCHAR(50)
	--@IDDICHVU VARCHAR(50)
AS
BEGIN
	INSERT INTO CTHDKemTheo(STT, IDHoaDon, IDTour) VALUES (@STT, @IDHOADON, @IDTOUR)
END

GO
/****** Object:  StoredProcedure [dbo].[THEMTOURDULICH]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMTOURDULICH] 
	@IDTOUR VARCHAR(50), 
	@NCC NVARCHAR(50),  
	@NOIDUNG NVARCHAR(50),
	@GIA INT
AS
BEGIN
	INSERT INTO TourDuLich VALUES (@IDTOUR, @NCC, @NOIDUNG, @GIA)
END


GO
/****** Object:  StoredProcedure [dbo].[THEMTHONGTINCHUYENPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMTHONGTINCHUYENPHONG] 
	@IDKHACHHANG VARCHAR(50), 
	@IDPHONG VARCHAR(50),  
	@LYDO NVARCHAR(50)
AS
BEGIN
	INSERT INTO ThongTinChuyenPhong VALUES (@IDKHACHHANG, @IDPHONG, @LYDO)
END


GO
/****** Object:  StoredProcedure [dbo].[XEM_CTTHONGTINDATPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[XEM_CTTHONGTINDATPHONG]
	@IDKH VARCHAR(50)
AS
BEGIN
	SELECT T.IDPhong, L.Ten, T.NgayCheckIn, T.NgayCheckOut, T.SoLuongNguoi
	FROM ThongTinDatPhong T JOIN KhachHang K ON T.IDKhachHang = K.IDKhachHang JOIN Phong P ON T.IDPhong = P.IDPhong JOIN LoaiPhong L ON P.IDLoai = L.IDloai
	WHERE T.IDKhachHang = @IDKH

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[XEM_DANGKYDV]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEM_DANGKYDV]
	@IDKH VARCHAR(50)
AS
BEGIN 
	-- LỌC TRONG BẢNG DANGKYDICHVU THEO @IDKH CÓ @IDDV BẮT ĐẦU LÀ 'DV'
	SELECT dv.IDDichVu, dv.TenDV, DKDV.SL, DKDV.TongTien
	FROM DangKyDichVu DKDV, DichVu dv
	WHERE DKDV.IDKhachHang = @IDKH and dv.IDDichVu=DKDV.IDDichVu and  dv.IDDichVu LIKE 'DV%'
END

GO
/****** Object:  StoredProcedure [dbo].[XEM_DANGKYDVTOUR]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- XEM DANH SÁCH DỊCH VỤ TOUR ĐÃ ĐĂNG KÝ CỦA KHÁCH HÀNG @IDKH

CREATE /*or ALTER*/ PROC [dbo].[XEM_DANGKYDVTOUR]
	@IDKH VARCHAR(50)
AS 
BEGIN
	--LỌC TRONG BẢNG DANGKYTOUR THEO KHÁCH HÀNG @IDKH
	SELECT DKT.IDTour, DKT.SoNguoiDi, DKT.GioXuatPhat, DKT.TongTien
	FROM DangKyTour DKT
	WHERE DKT.IDKhachHang = @IDKH

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[XEM_DANGKYSP]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEM_DANGKYSP]
	@IDKH VARCHAR(50)
AS
BEGIN 
	-- LỌC TRONG BẢNG DANGKYDICHVU THEO @IDKH CÓ @IDDV BẮT ĐẦU LÀ 'DV'
	SELECT dv.IDDichVu, dv.TenDV, DKDV.SL, DKDV.TongTien
	FROM DangKyDichVu DKDV, DichVu dv
	WHERE DKDV.IDKhachHang = @IDKH and dv.IDDichVu=DKDV.IDDichVu and dv.IDDichVu LIKE 'SP%'	
END

GO
/****** Object:  StoredProcedure [dbo].[XEM_DANGKYTOUR]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEM_DANGKYTOUR]
	@IDKH VARCHAR(50)
AS
BEGIN 
	
	SELECT tdl.IDTour ,tdl.NCC, dkt.SoNguoiDi, dkt.TongTien
	FROM DangKyTour dkt, TourDuLich tdl
	WHERE dkt.IDKhachHang = @IDKH and tdl.IDTour=dkt.IDTour 
END

GO
/****** Object:  StoredProcedure [dbo].[XEM_DANHSACHDATPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- XEM DANH SÁCH ĐẶT PHÒNG

CREATE /*or ALTER*/ PROC [dbo].[XEM_DANHSACHDATPHONG]
AS
BEGIN
	SELECT DISTINCT T.IDKhachHang, K.TenKH, T.NgayDat
	FROM ThongTinDatPhong T JOIN KhachHang K ON T.IDKhachHang = K.IDKhachHang

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[XEM_DANHSACHKHACHHANG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- XEM DANH SÁCH KHÁCH HÀNG

CREATE /*or ALTER*/ PROC [dbo].[XEM_DANHSACHKHACHHANG]
AS
BEGIN
	SELECT *
	FROM KhachHang K
	
	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[XEMACCOUNT]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMACCOUNT]
AS
BEGIN
	SELECT * FROM Account
END

GO
/****** Object:  StoredProcedure [dbo].[XEMDICHVU]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMDICHVU]
AS
BEGIN
	SELECT * FROM DichVu
END

GO
/****** Object:  StoredProcedure [dbo].[XEMLOAIPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMLOAIPHONG]
AS
BEGIN
	SELECT * FROM LOAIPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[XEMNHANVIEN]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMNHANVIEN]
AS
BEGIN
	SELECT * FROM NHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[XEMPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMPHONG]
AS
BEGIN
	SELECT * FROM Phong
END

GO
/****** Object:  StoredProcedure [dbo].[XEMPHONGFILTER]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMPHONGFILTER]
	@TRANGTHAI NVARCHAR(50),
	@LOAIPHONG NVARCHAR(50),
	@TINHTRANG NVARCHAR(50)
AS
BEGIN
	IF @TRANGTHAI = N'Tất cả' AND @LOAIPHONG = N'Tất cả' AND @TINHTRANG = N'Tất cả'
	BEGIN SELECT * FROM PHONG END

	ELSE IF @TRANGTHAI = N'Tất cả' AND @LOAIPHONG = N'Tất cả' AND @TINHTRANG <> N'Tất cả'
	BEGIN SELECT * FROM PHONG WHERE PHONG.TINHTRANG = @TINHTRANG END 

	ELSE IF @TRANGTHAI = N'Tất cả' AND @LOAIPHONG <> N'Tất cả' AND @TINHTRANG = N'Tất cả'
	BEGIN SELECT * FROM PHONG WHERE PHONG.IDLOAI = @LOAIPHONG END 

	ELSE IF @TRANGTHAI <> N'Tất cả' AND @LOAIPHONG = N'Tất cả' AND @TINHTRANG = N'Tất cả'
	BEGIN SELECT * FROM PHONG WHERE PHONG.TRANGTHAI = @TRANGTHAI END
	
	
	ELSE IF @TRANGTHAI = N'Tất cả' AND @LOAIPHONG <> N'Tất cả' AND @TINHTRANG <> N'Tất cả'
	BEGIN SELECT * FROM PHONG WHERE (PHONG.IDLOAI = @LOAIPHONG AND PHONG.TINHTRANG = @TINHTRANG) END 

	ELSE IF @TRANGTHAI <> N'Tất cả' AND @LOAIPHONG = N'Tất cả' AND @TINHTRANG <> N'Tất cả'
	BEGIN SELECT * FROM PHONG WHERE (PHONG.TRANGTHAI = @TRANGTHAI AND PHONG.TINHTRANG = @TINHTRANG) END 

	IF @TRANGTHAI <> N'Tất cả' AND @LOAIPHONG <> N'Tất cả' AND @TINHTRANG = N'Tất cả'
	BEGIN SELECT * FROM PHONG WHERE (PHONG.TRANGTHAI = @TRANGTHAI AND PHONG.IDLOAI = @LOAIPHONG) END 

	
	ELSE IF @TRANGTHAI <> N'Tất cả' AND @LOAIPHONG <> N'Tất cả' AND @TINHTRANG <> N'Tất cả'
	BEGIN SELECT * FROM PHONG WHERE (PHONG.TRANGTHAI = @TRANGTHAI AND PHONG.IDLOAI = @LOAIPHONG AND PHONG.TINHTRANG = @TINHTRANG) END
END
GO
/****** Object:  StoredProcedure [dbo].[XEMPHUONGTIEN]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMPHUONGTIEN]
AS
BEGIN
	SELECT * FROM PhuongTien
END

GO
/****** Object:  StoredProcedure [dbo].[XEMTOURDULICH]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMTOURDULICH]
AS
BEGIN
	SELECT * FROM TourDuLich
END

GO
/****** Object:  StoredProcedure [dbo].[XOA_DANGKYDVSP]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOA_DANGKYDVSP]
	@IDKH VARCHAR(50),
	@TENDV VARCHAR(50)
AS
BEGIN
	-- XOÁ ĐĂNG KÝ DỊCH VỤ / SẢN PHẨM @IDDV CỦA KHÁCH HÀNG @IDKH
		DECLARE @ID AS VARCHAR(50)
		SET @ID = (SELECT DV.IDDichVu FROM DichVu DV WHERE DV.TenDV = @TENDV)
		DELETE FROM DangKyDichVu
		WHERE IDKhachHang = @IDKH AND IDDichVu = @ID
END

GO
/****** Object:  StoredProcedure [dbo].[XOA_DANGKYDVTOUR]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- XOÁ ĐĂNG KÝ DỊCH VỤ TOUR

CREATE /*or ALTER*/ PROC [dbo].[XOA_DANGKYDVTOUR]
	@IDKH VARCHAR(50),
	@IDTOUR VARCHAR(50),
	@GIOXP VARCHAR(50),
	@SL INT
AS
BEGIN
	DELETE FROM DangKyTour
	WHERE IDKhachHang = @IDKH
		AND IDTour = @IDTOUR
		AND GioXuatPhat = @GIOXP
		AND SoNguoiDi = @SL

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[XOA_DANGKYTOUR]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOA_DANGKYTOUR]
	@IDKH VARCHAR(50),
	@NCC VARCHAR(50)
AS
BEGIN
	-- XOÁ ĐĂNG KÝ DỊCH VỤ / SẢN PHẨM @IDDV CỦA KHÁCH HÀNG @IDKH
		DECLARE @ID AS VARCHAR(50)
		SET @ID = (SELECT tdl.IDTour FROM TourDuLich tdl WHERE tdl.NCC = @NCC)
		DELETE FROM DangKyTour
		WHERE IDKhachHang = @IDKH AND IDTour = @ID
END

GO
/****** Object:  StoredProcedure [dbo].[XOA_THONGTINDATPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[XOA_THONGTINDATPHONG]
	@IDKH VARCHAR(50)
AS
BEGIN
	DELETE ThongTinDatPhong
	WHERE IDKhachHang = @IDKH
	
	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[XOA_THONGTINKHACHHANG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- XOÁ THÔNG TIN KHÁCH HÀNG

CREATE /*or ALTER*/ PROC [dbo].[XOA_THONGTINKHACHHANG]
	@IDKH VARCHAR(50)
AS
BEGIN
	DELETE KhachHang
	WHERE IDKhachHang = @IDKH

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[XOAACCOUNT]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOAACCOUNT]
	@IDTK VARCHAR(50)
AS
BEGIN
	DELETE FROM Account
	WHERE IDTK = @IDTK
END

GO
/****** Object:  StoredProcedure [dbo].[XOADICHVU]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOADICHVU]
	@IDDICHVU VARCHAR(50)
AS
BEGIN
	DELETE FROM DichVu
	WHERE IDDichVu = @IDDICHVU
END

GO
/****** Object:  StoredProcedure [dbo].[XOADOAN]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOADOAN]
	@IDDOAN VARCHAR(50)
AS
BEGIN
	DELETE FROM Doan
	WHERE IDDoan = @IDDOAN
END

GO
/****** Object:  StoredProcedure [dbo].[XOALOAIPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOALOAIPHONG]
	@IDLOAI VARCHAR(50)
AS
BEGIN
	DELETE FROM LOAIPHONG
	WHERE IDLOAI = @IDLOAI
END
GO
/****** Object:  StoredProcedure [dbo].[XOANHANVIEN]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOANHANVIEN]
	@IDNHANVIEN VARCHAR(50)
AS
BEGIN
	DECLARE @IDTK VARCHAR(50)
	SET @IDTK = (SELECT AC.IDTK FROM Account AC WHERE AC.IDNhanVien = @IDNHANVIEN)
	EXEC XOAACCOUNT @IDTK

	DELETE FROM NHANVIEN
	WHERE IDNHANVIEN =  @IDNHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[XOAPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOAPHONG]
	@IDPHONG VARCHAR(50)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM ThongTinDatPhong WHERE @IDPHONG = IDPhong)
	BEGIN
		RETURN
	END
	DELETE FROM Phong
	WHERE IDPhong = @IDPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[XOAPHUONGTIEN]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOAPHUONGTIEN]
	@IDNHAXE VARCHAR(50)
AS
BEGIN
	DELETE FROM PhuongTien
	WHERE IDNhaXe = @IDNHAXE
END

GO
/****** Object:  StoredProcedure [dbo].[XOATOURDULICH]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOATOURDULICH]
	@IDTOUR VARCHAR(50)
AS
BEGIN
	DELETE FROM TourDuLich
	WHERE IDTour = @IDTOUR
END

GO
/****** Object:  StoredProcedure [dbo].[XOATHONGTINCHUYENPHONG]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOATHONGTINCHUYENPHONG]
	@IDKHACHHANG VARCHAR(50), 
	@IDPHONG VARCHAR(50)
AS
BEGIN
	DELETE FROM ThongTinChuyenPhong
	WHERE IDKhachHang = @IDKHACHHANG AND IDPhong = @IDPHONG
END

GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[IDTK] [varchar](50) NOT NULL,
	[Username] [varchar](50) NULL,
	[pw] [varchar](50) NULL,
	[quyenhan] [int] NULL,
	[IDNhanVien] [varchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[IDTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTHDDatPhong]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTHDDatPhong](
	[IDHoaDon] [varchar](50) NOT NULL,
	[IDPhong] [varchar](50) NOT NULL,
	[TienCoc] [int] NULL,
	[TienSauCheckOut] [int] NULL,
 CONSTRAINT [PK_CTHDDatPhong] PRIMARY KEY CLUSTERED 
(
	[IDHoaDon] ASC,
	[IDPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTHDKemTheo]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTHDKemTheo](
	[STT] [int] NOT NULL,
	[IDHoaDon] [varchar](50) NOT NULL,
	[IDTour] [varchar](50) NULL,
	[IDDichVu] [varchar](50) NULL,
 CONSTRAINT [PK_CTHDKemTheo] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[IDHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DangKyDichVu]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DangKyDichVu](
	[IDKhachHang] [varchar](50) NOT NULL,
	[IDDichVu] [varchar](50) NOT NULL,
	[GioDK] [varchar](50) NULL,
	[SL] [int] NULL,
	[LichSD] [varchar](50) NULL,
	[TongTien] [int] NULL,
 CONSTRAINT [PK_DangKyDichVu] PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC,
	[IDDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DangKyTour]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DangKyTour](
	[IDKhachHang] [varchar](50) NOT NULL,
	[IDTour] [varchar](50) NOT NULL,
	[GioDK] [varchar](50) NULL,
	[GioXuatPhat] [varchar](50) NULL,
	[SoNguoiDi] [int] NULL,
	[TongTien] [int] NULL,
 CONSTRAINT [PK_DangKyTour] PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC,
	[IDTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DichVu](
	[IDDichVu] [varchar](50) NOT NULL,
	[TenDV] [nvarchar](50) NULL,
	[Gia] [int] NULL,
	[SL] [int] NULL,
	[KM] [float] NULL,
	[TinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[IDDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Doan]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Doan](
	[IDDoan] [varchar](50) NOT NULL,
	[TenDoan] [nvarchar](50) NULL,
	[NguoiDaiDien] [nvarchar](50) NULL,
	[SoNguoi] [int] NULL,
	[IDKhachHang] [varchar](50) NULL,
 CONSTRAINT [PK_Doan] PRIMARY KEY CLUSTERED 
(
	[IDDoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[IDHoaDon] [varchar](50) NOT NULL,
	[NgayLap] [date] NULL,
	[PTTT] [nvarchar](50) NULL,
	[TongTien] [int] NULL,
	[IDNhanVien] [varchar](50) NULL,
	[IDKhachHang] [varchar](50) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[IDHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[IDKhachHang] [varchar](50) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[CCCD] [varchar](50) NULL,
	[SDT] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Fax] [varchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[IDLoai] [varchar](50) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[Gia] [int] NULL,
	[SoNguoi] [int] NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[IDLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[IDNhanVien] [varchar](50) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[NgSinh] [date] NULL,
	[SDT] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[CCCD] [varchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[IDNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Phong](
	[IDPhong] [varchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[IDLoai] [varchar](50) NULL,
	[TinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[IDPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhuongTien]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhuongTien](
	[IDNhaXe] [varchar](50) NOT NULL,
	[TenNhaXe] [nvarchar](50) NULL,
	[SDT] [varchar](50) NULL,
	[GioDen] [int] NULL,
	[Gia] [int] NULL,
 CONSTRAINT [PK_PhuongTien] PRIMARY KEY CLUSTERED 
(
	[IDNhaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TourDuLich]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TourDuLich](
	[IDTour] [varchar](50) NOT NULL,
	[NCC] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](50) NULL,
	[Gia] [int] NULL,
 CONSTRAINT [PK_TourDuLich] PRIMARY KEY CLUSTERED 
(
	[IDTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThongTinChuyenPhong]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThongTinChuyenPhong](
	[IDKhachHang] [varchar](50) NOT NULL,
	[IDPhong] [varchar](50) NOT NULL,
	[LyDo] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThongTinChuyenPhong] PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC,
	[IDPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThongTinDatPhong]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThongTinDatPhong](
	[IDKhachHang] [varchar](50) NOT NULL,
	[IDPhong] [varchar](50) NOT NULL,
	[NgayDat] [date] NULL,
	[NgayCheckIn] [date] NULL,
	[NgayCheckOut] [date] NULL,
	[SoLuongNguoi] [int] NULL,
 CONSTRAINT [PK_ThongTinDatPhong] PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC,
	[IDPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YCDacBiet]    Script Date: 7/3/2023 11:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YCDacBiet](
	[IDYeuCau] [varchar](50) NOT NULL,
	[TenYC] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](50) NULL,
	[IDKH] [varchar](50) NULL,
 CONSTRAINT [PK_YCDacBiet] PRIMARY KEY CLUSTERED 
(
	[IDYeuCau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Account] ([IDTK], [Username], [pw], [quyenhan], [IDNhanVien]) VALUES (N'acc_001', N'nvhai', N'123456', 1, N'NV_5001')
INSERT [dbo].[Account] ([IDTK], [Username], [pw], [quyenhan], [IDNhanVien]) VALUES (N'acc_002', N'ptduong', N'123456', 1, N'NV_5002')
INSERT [dbo].[Account] ([IDTK], [Username], [pw], [quyenhan], [IDNhanVien]) VALUES (N'acc_003', N'lduc', N'123456', 2, N'NV_5003')
INSERT [dbo].[CTHDDatPhong] ([IDHoaDon], [IDPhong], [TienCoc], [TienSauCheckOut]) VALUES (N'HD_101', N'DOI_201', 450000, 1050000)
INSERT [dbo].[CTHDDatPhong] ([IDHoaDon], [IDPhong], [TienCoc], [TienSauCheckOut]) VALUES (N'HD_102', N'DON_101', 750000, 1750000)
INSERT [dbo].[CTHDDatPhong] ([IDHoaDon], [IDPhong], [TienCoc], [TienSauCheckOut]) VALUES (N'HD_103', N'DON_103', 300000, 700000)
INSERT [dbo].[CTHDKemTheo] ([STT], [IDHoaDon], [IDTour], [IDDichVu]) VALUES (1, N'HD_101', NULL, N'SP_101')
INSERT [dbo].[CTHDKemTheo] ([STT], [IDHoaDon], [IDTour], [IDDichVu]) VALUES (2, N'HD_101', N'TOUR_1001', NULL)
INSERT [dbo].[CTHDKemTheo] ([STT], [IDHoaDon], [IDTour], [IDDichVu]) VALUES (3, N'HD_101', NULL, N'SP_102')
INSERT [dbo].[DangKyDichVu] ([IDKhachHang], [IDDichVu], [GioDK], [SL], [LichSD], [TongTien]) VALUES (N'1001', N'DV_101', N'12', 2, N'14', 400000)
INSERT [dbo].[DangKyDichVu] ([IDKhachHang], [IDDichVu], [GioDK], [SL], [LichSD], [TongTien]) VALUES (N'1001', N'SP_101', N'15', 2, N'14', 400000)
INSERT [dbo].[DangKyDichVu] ([IDKhachHang], [IDDichVu], [GioDK], [SL], [LichSD], [TongTien]) VALUES (N'1001', N'SP_102', N'16', 2, N'14', 1800000)
INSERT [dbo].[DangKyTour] ([IDKhachHang], [IDTour], [GioDK], [GioXuatPhat], [SoNguoiDi], [TongTien]) VALUES (N'1001', N'TOUR_1001', N'12', N'15', 2, 400000)
INSERT [dbo].[DangKyTour] ([IDKhachHang], [IDTour], [GioDK], [GioXuatPhat], [SoNguoiDi], [TongTien]) VALUES (N'1005', N'TOUR_1002', N'12', N'14', 28, 5600000)
INSERT [dbo].[DichVu] ([IDDichVu], [TenDV], [Gia], [SL], [KM], [TinhTrang]) VALUES (N'DV_101', N'Spa
', 200000, 100, 0, N'Trống')
INSERT [dbo].[DichVu] ([IDDichVu], [TenDV], [Gia], [SL], [KM], [TinhTrang]) VALUES (N'DV_102', N'Massage
', 300000, 100, 10, N'Đầy')
INSERT [dbo].[DichVu] ([IDDichVu], [TenDV], [Gia], [SL], [KM], [TinhTrang]) VALUES (N'SP_101', N'Sting', 20000, 200, 0, NULL)
INSERT [dbo].[Doan] ([IDDoan], [TenDoan], [NguoiDaiDien], [SoNguoi], [IDKhachHang]) VALUES (N'D_101
', N'Cỏ mây
', N'Hoàng Minh Duy
', 28, N'1005')
INSERT [dbo].[Doan] ([IDDoan], [TenDoan], [NguoiDaiDien], [SoNguoi], [IDKhachHang]) VALUES (N'D_102
', N'Cỏ hoa', N'Võ Thị Hương', 9, N'1007')
INSERT [dbo].[Doan] ([IDDoan], [TenDoan], [NguoiDaiDien], [SoNguoi], [IDKhachHang]) VALUES (N'D_103
', N'Cỏ lá', N'Đặng Quốc Khánh', 3, N'1008')
INSERT [dbo].[HoaDon] ([IDHoaDon], [NgayLap], [PTTT], [TongTien], [IDNhanVien], [IDKhachHang]) VALUES (N'HD_101', CAST(N'2023-06-10' AS Date), N'Tiền mặt
', 1930000, N'NV_5008', N'1001')
INSERT [dbo].[HoaDon] ([IDHoaDon], [NgayLap], [PTTT], [TongTien], [IDNhanVien], [IDKhachHang]) VALUES (N'HD_102', CAST(N'2023-06-17' AS Date), N'Tiền mặt
', 1770000, N'NV_5009', N'1002')
INSERT [dbo].[HoaDon] ([IDHoaDon], [NgayLap], [PTTT], [TongTien], [IDNhanVien], [IDKhachHang]) VALUES (N'HD_103', CAST(N'2023-06-14' AS Date), N'Tiền mặt
', 700000, N'NV_5010', N'1003')
INSERT [dbo].[KhachHang] ([IDKhachHang], [TenKH], [CCCD], [SDT], [Email], [DiaChi], [Fax]) VALUES (N'1001', N'Nguyễn Văn Anh', N'364487456415', N'0349326565', N'anh@gmail.com', N'144 Nguyễn Công Trứ, Quận 12, TP.HCM', N'6582635987
')
INSERT [dbo].[KhachHang] ([IDKhachHang], [TenKH], [CCCD], [SDT], [Email], [DiaChi], [Fax]) VALUES (N'1002', N'Trần Thị Bình', N'125486523569
', N'0359658586
', N'binh@gmail.com
', N'103/20/1 Nguyễn Bỉnh Khiêm, Quận 1, TP.HCM
', N'2563487596
')
INSERT [dbo].[KhachHang] ([IDKhachHang], [TenKH], [CCCD], [SDT], [Email], [DiaChi], [Fax]) VALUES (N'1003', N'Lê Hoàng Chung
', N'256359875625
', N'0325858969
', N'chung@gmail.com
', N'65 Nguyễn Thị Thập, Quận 7, TP.HCM
', N'6365259875
')
INSERT [dbo].[LoaiPhong] ([IDLoai], [Ten], [Gia], [SoNguoi]) VALUES (N'DOI', N'Đôi', 500000, 2)
INSERT [dbo].[LoaiPhong] ([IDLoai], [Ten], [Gia], [SoNguoi]) VALUES (N'DON', N'Đơn', 300000, 1)
INSERT [dbo].[LoaiPhong] ([IDLoai], [Ten], [Gia], [SoNguoi]) VALUES (N'GIADINH', N'Gia Đình', 800000, 4)
INSERT [dbo].[NhanVien] ([IDNhanVien], [TenNV], [ChucVu], [NgSinh], [SDT], [Email], [GioiTinh], [CCCD], [DiaChi]) VALUES (N'NV_5001', N'Nguyễn Văn Hải', N'Lễ tân
', CAST(N'2001-12-05' AS Date), N'0562547995
', N'nvh@gmail.com
', N'Nam', N'265478964758 
', N'14 Nguyễn Công Trứ, Quận 12, TP.HCM
')
INSERT [dbo].[NhanVien] ([IDNhanVien], [TenNV], [ChucVu], [NgSinh], [SDT], [Email], [GioiTinh], [CCCD], [DiaChi]) VALUES (N'NV_5002', N'Phạm Thành Dương', N'Lễ tân
', CAST(N'1999-05-16' AS Date), N'0659874265
', N'ptd@gmail.com
', N'Nam', N'131456487897 
', N'103/20/1 Nguyễn Bỉnh Khiêm, Quận Thủ Đức, TP.HCM
')
INSERT [dbo].[NhanVien] ([IDNhanVien], [TenNV], [ChucVu], [NgSinh], [SDT], [Email], [GioiTinh], [CCCD], [DiaChi]) VALUES (N'NV_5003', N'Lê Đức', N'Quản lý', CAST(N'1995-08-17' AS Date), N'0326412578
', N'ld@gmail.com
', N'Nam', N'165156489797 
', N'5 Nguyễn Thị Thập, Quận 7, TP.HCM
')
INSERT [dbo].[Phong] ([IDPhong], [TrangThai], [IDLoai], [TinhTrang]) VALUES (N'DOI_201', N'Đầy', N'DOI', N'Đã dọn dẹp')
INSERT [dbo].[Phong] ([IDPhong], [TrangThai], [IDLoai], [TinhTrang]) VALUES (N'DOI_202', N'Đầy', N'DOI', N'Đã dọn dẹp')
INSERT [dbo].[Phong] ([IDPhong], [TrangThai], [IDLoai], [TinhTrang]) VALUES (N'DOI_203', N'Đầy', N'DOI', N'Đã dọn dẹp')
INSERT [dbo].[PhuongTien] ([IDNhaXe], [TenNhaXe], [SDT], [GioDen], [Gia]) VALUES (N'NX_1001', N'Phương Trang
', N'0349326565
', 11, 350000)
INSERT [dbo].[PhuongTien] ([IDNhaXe], [TenNhaXe], [SDT], [GioDen], [Gia]) VALUES (N'NX_1002', N'Đức Hải
', N'0315147897
', 12, 500000)
INSERT [dbo].[PhuongTien] ([IDNhaXe], [TenNhaXe], [SDT], [GioDen], [Gia]) VALUES (N'NX_1003', N'Hải Vân
', N'0564896532
', 11, 300000)
INSERT [dbo].[TourDuLich] ([IDTour], [NCC], [NoiDung], [Gia]) VALUES (N'TOUR_1001', N'Công ty Phương Nam
', N'Khám phá khu du lịch sinh thái Phương Nam
', 200000)
INSERT [dbo].[TourDuLich] ([IDTour], [NCC], [NoiDung], [Gia]) VALUES (N'TOUR_1002', N'Công ty Á Đông
', N'Khám Phá khu du lịch sinh thái Á Đông
', 200000)
INSERT [dbo].[ThongTinChuyenPhong] ([IDKhachHang], [IDPhong], [LyDo]) VALUES (N'1009', N'DOI_202', N'Giường hư
')
INSERT [dbo].[ThongTinDatPhong] ([IDKhachHang], [IDPhong], [NgayDat], [NgayCheckIn], [NgayCheckOut], [SoLuongNguoi]) VALUES (N'1001', N'DOI_201', CAST(N'2023-06-05' AS Date), CAST(N'2023-06-05' AS Date), CAST(N'2023-06-10' AS Date), 2)
INSERT [dbo].[ThongTinDatPhong] ([IDKhachHang], [IDPhong], [NgayDat], [NgayCheckIn], [NgayCheckOut], [SoLuongNguoi]) VALUES (N'1002', N'DON_101', CAST(N'2023-06-12' AS Date), CAST(N'2023-06-12' AS Date), CAST(N'2023-06-17' AS Date), 1)
INSERT [dbo].[ThongTinDatPhong] ([IDKhachHang], [IDPhong], [NgayDat], [NgayCheckIn], [NgayCheckOut], [SoLuongNguoi]) VALUES (N'1003', N'DON_103', CAST(N'2023-06-12' AS Date), CAST(N'2023-06-12' AS Date), CAST(N'2023-06-14' AS Date), 1)
INSERT [dbo].[YCDacBiet] ([IDYeuCau], [TenYC], [NoiDung], [IDKH]) VALUES (N'YC_101
', N'Vận chuyển
', N'Đưa hành lý lên phòng
', N'1001')
INSERT [dbo].[YCDacBiet] ([IDYeuCau], [TenYC], [NoiDung], [IDKH]) VALUES (N'YC_102', N'Vận chuyển
', N'Đưa hành lý lên phòng
', N'1002')
INSERT [dbo].[YCDacBiet] ([IDYeuCau], [TenYC], [NoiDung], [IDKH]) VALUES (N'YC_103', N'Vận chuyển
', N'Đưa hành lý lên phòng
', N'1003')
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_NhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanVien] ([IDNhanVien])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_NhanVien]
GO
ALTER TABLE [dbo].[CTHDDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_CTHDDatPhong_HoaDon] FOREIGN KEY([IDHoaDon])
REFERENCES [dbo].[HoaDon] ([IDHoaDon])
GO
ALTER TABLE [dbo].[CTHDDatPhong] CHECK CONSTRAINT [FK_CTHDDatPhong_HoaDon]
GO
ALTER TABLE [dbo].[CTHDDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_CTHDDatPhong_Phong] FOREIGN KEY([IDPhong])
REFERENCES [dbo].[Phong] ([IDPhong])
GO
ALTER TABLE [dbo].[CTHDDatPhong] CHECK CONSTRAINT [FK_CTHDDatPhong_Phong]
GO
ALTER TABLE [dbo].[CTHDKemTheo]  WITH CHECK ADD  CONSTRAINT [FK_CTHDKemTheo_DichVu] FOREIGN KEY([IDDichVu])
REFERENCES [dbo].[DichVu] ([IDDichVu])
GO
ALTER TABLE [dbo].[CTHDKemTheo] CHECK CONSTRAINT [FK_CTHDKemTheo_DichVu]
GO
ALTER TABLE [dbo].[CTHDKemTheo]  WITH CHECK ADD  CONSTRAINT [FK_CTHDKemTheo_HoaDon] FOREIGN KEY([IDHoaDon])
REFERENCES [dbo].[HoaDon] ([IDHoaDon])
GO
ALTER TABLE [dbo].[CTHDKemTheo] CHECK CONSTRAINT [FK_CTHDKemTheo_HoaDon]
GO
ALTER TABLE [dbo].[CTHDKemTheo]  WITH CHECK ADD  CONSTRAINT [FK_CTHDKemTheo_TourDuLich] FOREIGN KEY([IDTour])
REFERENCES [dbo].[TourDuLich] ([IDTour])
GO
ALTER TABLE [dbo].[CTHDKemTheo] CHECK CONSTRAINT [FK_CTHDKemTheo_TourDuLich]
GO
ALTER TABLE [dbo].[DangKyDichVu]  WITH CHECK ADD  CONSTRAINT [FK_DangKyDichVu_DichVu] FOREIGN KEY([IDDichVu])
REFERENCES [dbo].[DichVu] ([IDDichVu])
GO
ALTER TABLE [dbo].[DangKyDichVu] CHECK CONSTRAINT [FK_DangKyDichVu_DichVu]
GO
ALTER TABLE [dbo].[DangKyDichVu]  WITH CHECK ADD  CONSTRAINT [FK_DangKyDichVu_KhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
GO
ALTER TABLE [dbo].[DangKyDichVu] CHECK CONSTRAINT [FK_DangKyDichVu_KhachHang]
GO
ALTER TABLE [dbo].[DangKyTour]  WITH CHECK ADD  CONSTRAINT [FK_DangKyTour_KhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
GO
ALTER TABLE [dbo].[DangKyTour] CHECK CONSTRAINT [FK_DangKyTour_KhachHang]
GO
ALTER TABLE [dbo].[DangKyTour]  WITH CHECK ADD  CONSTRAINT [FK_DangKyTour_TourDuLich] FOREIGN KEY([IDTour])
REFERENCES [dbo].[TourDuLich] ([IDTour])
GO
ALTER TABLE [dbo].[DangKyTour] CHECK CONSTRAINT [FK_DangKyTour_TourDuLich]
GO
ALTER TABLE [dbo].[Doan]  WITH CHECK ADD  CONSTRAINT [FK_Doan_KhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
GO
ALTER TABLE [dbo].[Doan] CHECK CONSTRAINT [FK_Doan_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang1] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang1]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanVien] ([IDNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong] FOREIGN KEY([IDLoai])
REFERENCES [dbo].[LoaiPhong] ([IDLoai])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_LoaiPhong]
GO
ALTER TABLE [dbo].[ThongTinChuyenPhong]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinChuyenPhong_KhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
GO
ALTER TABLE [dbo].[ThongTinChuyenPhong] CHECK CONSTRAINT [FK_ThongTinChuyenPhong_KhachHang]
GO
ALTER TABLE [dbo].[ThongTinChuyenPhong]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinChuyenPhong_Phong] FOREIGN KEY([IDPhong])
REFERENCES [dbo].[Phong] ([IDPhong])
GO
ALTER TABLE [dbo].[ThongTinChuyenPhong] CHECK CONSTRAINT [FK_ThongTinChuyenPhong_Phong]
GO
ALTER TABLE [dbo].[ThongTinDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinDatPhong_KhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
GO
ALTER TABLE [dbo].[ThongTinDatPhong] CHECK CONSTRAINT [FK_ThongTinDatPhong_KhachHang]
GO
ALTER TABLE [dbo].[ThongTinDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinDatPhong_Phong] FOREIGN KEY([IDPhong])
REFERENCES [dbo].[Phong] ([IDPhong])
GO
ALTER TABLE [dbo].[ThongTinDatPhong] CHECK CONSTRAINT [FK_ThongTinDatPhong_Phong]
GO
ALTER TABLE [dbo].[YCDacBiet]  WITH CHECK ADD  CONSTRAINT [FK_YCDacBiet_KhachHang] FOREIGN KEY([IDKH])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
GO
ALTER TABLE [dbo].[YCDacBiet] CHECK CONSTRAINT [FK_YCDacBiet_KhachHang]
GO
USE [master]
GO
